# IDE files
*.csv
.idea/
.vscode

# Temp project files
Thumbs.db
LI Stat_Summary.docx
Stat_Summary.docx
*.bat
*.db
*.~sql
*.txt
*.log

# Python files
cache-directory
config.py
makecsv.py
__pycache__
*.pyc
.pytest_cache/
!requirements.txt